// $(document).ready ->
//   $("#new_user").on("ajax:success", (e, data, status, xhr) ->
//     $("#new_user").append xhr.responseText
//   ).on "ajax:error", (e, xhr, status, error) ->
//     $("#new_user").append "<p>ERROR</p>"
alert('<%= flash[:notice] %>');